

.ticket-page{

min-height:100vh;

background:
radial-gradient(circle at top,#1E293B,#050816);

display:flex;

justify-content:center;

align-items:center;

padding:40px;

}

.ticket{

width:1200px;

background:#0F172A;

border-radius:32px;

overflow:hidden;

box-shadow:
0 25px 80px rgba(0,0,0,.55);

border:2px solid rgba(250,204,21,.35);

}

.ticket-header{

background:linear-gradient(
135deg,
#FACC15,
#EAB308);

padding:45px 60px;

display:flex;

justify-content:space-between;

align-items:center;

color:#111827;

}

.small-title{

font-size:14px;

letter-spacing:3px;

font-weight:700;

}

.ticket-header h1{

font-size:64px;

font-weight:900;

line-height:1;

}

.ticket-header h2{

font-size:40px;

font-weight:700;

margin-top:5px;

}

.subtitle{

margin-top:10px;

font-size:16px;

letter-spacing:2px;

font-weight:600;

}

.entry-pass{

padding:18px 35px;

background:white;

border-radius:18px;

font-size:20px;

font-weight:800;

letter-spacing:3px;

box-shadow:
0 10px 25px rgba(0,0,0,.15);

}

.ticket-content{

display:grid;

grid-template-columns:2fr 1fr;

gap:50px;

padding:55px;

}

.ticket-details{

display:flex;

flex-direction:column;

gap:18px;

}

.customer-name{

font-size:42px;

font-weight:900;

margin-bottom:15px;

color:white;

}

.info-row{

display:flex;

justify-content:space-between;

padding:18px 22px;

background:#172036;

border-radius:18px;

border:1px solid rgba(255,255,255,.08);

transition:.3s;

}

.info-row:hover{

transform:translateX(5px);

border-color:#FACC15;

}

.label{

color:#94A3B8;

font-size:15px;

font-weight:600;

}

.value{

color:white;

font-size:18px;

font-weight:700;

}

.qr-card{

display:flex;

flex-direction:column;

align-items:center;

justify-content:center;

background:white;

padding:30px;

border-radius:28px;

box-shadow:
0 20px 40px rgba(0,0,0,.35);

height:fit-content;

}

.qr-card img{

width:230px;

height:230px;

}

.qr-card h3{

margin-top:20px;

font-size:24px;

color:#111827;

}

.qr-card p{

margin-top:10px;

text-align:center;

color:#475569;

font-size:15px;

line-height:1.6;

}

.ticket-footer{

display:flex;

justify-content:space-around;

padding:25px;

background:#111827;

color:#CBD5E1;

font-weight:600;

border-top:1px solid rgba(255,255,255,.08);

}

@media(max-width:1000px){

.ticket{

width:100%;

}

.ticket-content{

grid-template-columns:1fr;

}

.ticket-header{

flex-direction:column;

align-items:flex-start;

gap:25px;

}

.ticket-footer{

flex-direction:column;

gap:15px;

text-align:center;

}

.customer-name{

font-size:34px;

}

}